<div class="gallery">
  <div class="photo-card">
    <img
      src="https://pixabay.com/get/g235414ecab5aed37defbac9f21b31ef2b9eaf07eac634256174b898b7af51c0c5b1242e57e85e3c97d4ae50acff1c433_640.jpg"
      alt="tree, cat, silhouette"
      loading="lazy"
    />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <span>2834</span>
      </p>
      <p class="info-item">
        <b>Views</b>
        <b>1233818</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <b>571</b>
      </p>
      <p class="info-item">
        <b>Downloads</b>
        <b>624984</b>
      </p>
    </div>
  </div>
  <div class="photo-card">
    <img
      src="https://pixabay.com/get/g59434350085c4c25132b65bf55c8ea09a327bef7b6ad8925164ec96d035c4a70bcb435afc114daa7a0bec6ccf3ebcf1ca15063f0b466bc61e4191edcd7e94bf6_640.jpg"
      alt="cat, young animal, kitten"
      loading="lazy"
    />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <b>2336</b>
      </p>
      <p class="info-item">
        <b>Views</b>
        <b>1188037</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <b>380</b>
      </p>
      <p class="info-item">
        <b>Downloads</b>
        <b>688711</b>
      </p>
    </div>
  </div>
  <div class="photo-card">
    <img
      src="https://pixabay.com/get/g2e013ccfd5c7e4aff88b2dc5cc6ff769f7f4141d2be3953507ba40a9d2534e59fa8527ca8d395ee080a04560ecf52b0e_640.jpg"
      alt="cat, kitten, pet"
      loading="lazy"
    />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <b>2299</b>
      </p>
      <p class="info-item">
        <b>Views</b>
        <b>1253960</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <b>454</b>
      </p>
      <p class="info-item">
        <b>Downloads</b>
        <b>665052</b>
      </p>
    </div>
  </div>
  <div class="photo-card">
    <img
      src="https://pixabay.com/get/g23da9bd5ac0a582732a35aa0204051f0836c359266970f8260334bbfe69a0cf965cf9c5c13939537ac13935fc5838013c74c821e62c1e14789db57768f1d5bc0_640.jpg"
      alt="lion, roar, africa"
      loading="lazy"
    />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <b>2187</b>
      </p>
      <p class="info-item">
        <b>Views</b>
        <b>937278</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <b>431</b>
      </p>
      <p class="info-item">
        <b>Downloads</b>
        <b>601279</b>
      </p>
    </div>
  </div>
  <div class="photo-card">
    <img
      src="https://pixabay.com/get/gaf7ca11c418ed77e58e0a9baead91201c93fdfda7ea090a49ffef7a74571ebd42972fb355ce66097a1d012c6df83fc7744ab7d3d3fba89e732ffea8fa2301bc5_640.jpg"
      alt="nature, wildlife, white bengal tiger"
      loading="lazy"
    />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <b>2140</b>
      </p>
      <p class="info-item">
        <b>Views</b>
        <b>1479831</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <b>279</b>
      </p>
      <p class="info-item">
        <b>Downloads</b>
        <b>928202</b>
      </p>
    </div>
  </div>
  <div class="photo-card">
    <img
      src="https://pixabay.com/get/g3e63efe36b893dfbbd641e27def4d3a8b8133318d85025b0df738dead4eb9be7e42105368480d148830d577aed2ad9b35ff91645195d8a49f1c545bf5a363192_640.jpg"
      alt="cat, flower, kitten"
      loading="lazy"
    />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <b>1894</b>
      </p>
      <p class="info-item">
        <b>Views</b>
        <b>887988</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <b>334</b>
      </p>
      <p class="info-item">
        <b>Downloads</b>
        <b>534139</b>
      </p>
    </div>
  </div>
  <div class="photo-card">
    <img
      src="https://pixabay.com/get/gca0657ce730977511ff44e29989b60fe7df012286c2e1ca4128f4c5f790277828d6402eb6815cfccf08a74466064ad9a3e89ce6740304559ac25866d9c4803cd_640.png"
      alt="cat, cat&#x27;s eyes, blue eyes"
      loading="lazy"
    />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <b>1720</b>
      </p>
      <p class="info-item">
        <b>Views</b>
        <b>943383</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <b>253</b>
      </p>
      <p class="info-item">
        <b>Downloads</b>
        <b>477671</b>
      </p>
    </div>
  </div>
  <div class="photo-card">
    <img
      src="https://pixabay.com/get/g86edc41ff166a8e24b808567e398e035a00f1b44cd157110a38ba7a4323cb539ef5b196077d28d48c0e48f1ff04cdc4652849d0065c2bfc71df9c7848e0d0d40_640.jpg"
      alt="tiger, swamp, big cat"
      loading="lazy"
    />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <b>1687</b>
      </p>
      <p class="info-item">
        <b>Views</b>
        <b>790955</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <b>215</b>
      </p>
    </div>
  </div>
</div>
